/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary { display: block; }
table { border-collapse: collapse; border-spacing: 0; }




.ninja { display: none; }

.close-bt {
  display: block;
  height: 24px;
  left: 0;
  margin-bottom: 0;
  outline: 0;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  width: 24px;
}

#async-alerts {
  bottom: 2em;
  left: 2em;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  position: fixed;
  z-index: 100;
}

#async-alerts li {
  background: #f0f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #666;
  -webkit-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
  color: #000;
  display: none;
  margin: 1em 0 0;
  padding: 10px 20px;
  position: relative;
  width: 14em;
}

#async-alerts li.error {
  border: 1px solid #900e00; /*#900e00*/
  background-color: #ff6666;
}

#async-alerts li.success {
  border: 1px solid #345b00; /*#345b00*/
  background-color: #99ff99;
}

#async-alerts li.message {
  border: 1px solid #005b89; /*#005b89*/
  background-color: #9999ff;
}

#async-alerts p { margin-bottom: 0; }

#async-alerts li .close-bt {
  display: none;
  left: auto;
  right: 5px;
  top: 5px;
}

#async-alerts li:hover .close-bt { display: block; }

#user-list {
    margin: 20px;
}

#user-list-items li {
    padding: 0;
}